


/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    background-color: #191958;
    color: #e4dfd5;
}

.heading {
    font-family: "Alfa Slab One", cursive;
}

.backing-image {
  background: url(../images/back-image.jpg) repeat top center scroll;
  background-size: 100% 100%;
  min-height: 95vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.api-search-form {
    color: #e4dfd5;
    max-width: 80vw;
    margin: 0 auto;
}

.search-api-button {
    width: 100%;
}

.page-number {
    color: #3f3f3f;
    text-align: center;
}

.img-thumbnail {
    width: 10%;
    background-color: #e4dfd5;
    min-width: 100px;
    padding: 0;
}

.previous-button,
.next-button {
    margin-top: 10px;
    width: 100px;
    font-size: .9em;
}

.tmdb-result-list {
    font-size: .8em;
}

.index-card {
    max-height: 450px;
    width: 20%;
    background-color: #191958;
}

#carousel-3X4 {
    display: none;
}

#carousel-4X3 {
    display: none;
}

#carousel-6X2 {
    display: none;
}

#carousel-12X1 {
    width: 100%;
    display: block;
}

.carousel-review {
    display: inline-block;
    margin-left:-4px;
}
.carousel-review img {
    width:100%;
    height:auto;
}
body .carousel-indicators li{
    background-color:red;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon{
    background-color:red;
}
body .no-padding{
    padding-left: 0;
    padding-right: 0;
}

.get-reviews-btn {
    font-size: 1em;
}

.thumbnail-title {
    font-family: "Alfa Slab One", cursive;
    padding-top: 7px;
}

.api-results-card {
    max-width: 70vw;
    margin: 0 auto;
    text-align: center;
}

.search-icon > i {
    font-size: 38px;
}

.review-image {
    width: 20%;
    margin: 0 auto;
}

.register-wrapper {
    width: 100%;
    margin-top: 50px;
}

/*--------------------------------------------------------Footer */

.footer-container {
    background-color: #353535;
    min-height: 140px;
    text-align: center;
    position: relative;
}

.footer-container li a i {
    color: #e4dfd5;
    font-size: 28px;
}

.footer-terms a,
.footer-terms {
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    color: #e4dfd5;
    margin: 0 auto;
    text-decoration: none;
}

/* Color change on hover */
.footer-container li a i,
.footer-terms a {
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

.footer-terms a:hover,
.footer-container li a i:hover {
    color: #d31363;
}

.footer-terms .footer-terms-item {
    padding-bottom: 20px;
}


@media screen and (min-width: 400px) {
    .review-image {
        height: 70vh;
        width: auto;
    }
}

@media screen and (min-width: 576px) {
    .api-results-card {
        max-width: 80vw;
        text-align: start;
        font-size: 1.2em;
    }

    .previous-button,
    .next-button {
        margin-top: 10px;
        width: 120px;
        font-size: 1em;
    }

    .img-thumbnail {
        margin-right: 20px;
    }

    .register-wrapper {
        width: 60%;
    }

}

@media screen and (min-width: 768px) {
    #carousel-12X1 {
        display: none;
    }

    #carousel-6X2 {
        width: 100%;
        display: block;
    }    
}

@media screen and (min-width: 992px) {
    .api-results-card {
        max-width: 50vw;
    }

    .api-search-form {
    max-width: 60vw;
    }

    .search-api-button {
        width: 85%;
    }

    .register-wrapper {
        width: 40%;
    }

    #carousel-12X1 {
        display: none;
    }

    #carousel-6X2 {
        display: none;
    }

    #carousel-4X3 {
        width: 100%;
        display: block;
    }    
}

@media screen and (min-width: 1200px) {
    #carousel-12X1 {
        display: none;
    }

    #carousel-6X2 {
        display: none;
    }
    
    #carousel-4X3 {
        display: none;
    }

    #carousel-3X4 {
        width: 100%;
        display: block;
    } 
}