/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*--------------------------------------------------------General Rules */

/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:wght@500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  background-color: #191958;
  color: #eee9e1;
}

.btn {
  color: #fff;
  font-size: 1em;
}

form .form-control,
.form-select,
.review-form select,
.list-group li {
  background-color: #eee9e1;
}

form {
  max-width: 800px;
}

.form-text {
  color: #8d949b;
}

i {
  color: #ffa30f;
}

h1,
.primary-brand {
  font-size: 1.7em;
  line-height: 1.2em;
}

h2,
.secondary-brand {
  font-size: 1.2em;
  line-height: 1.2em;
}

.heading {
  font-size: 1.5em;
  color: #ffa30f;
  font-family: "Alfa Slab One", cursive;
  line-height: 1.6em;
}

.page-number {
  color: #8b8989;
  text-align: center;
}

.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-radius: 0.25rem;
}

/*--------------Buttons------------*/
.call-delete,
.submit-edit,
.delete-genre,
.confirm-genre,
.confirm-block,
.confirm-unblock,
.get-reviews-btn,
.all-reviews-btn,
.edit-review,
.filter-reviews {
  font-size: 0.9em;
}

.call-delete,
.submit-edit,
.all-reviews-btn,
.filter-reviews,
.edit-review {
  width: 164.5px;
}

.edit-review-btn {
  width: 100%;
  font-size: 3.5vw;
}

.login-btn,
.register,
.confirm-delete {
  width: 130px;
}

.change-pass-btn {
  width: 180px;
}

.previous-button,
.next-button {
  margin-top: 10px;
  width: 100px;
  font-size: 0.9em;
}

.btn-primary {
  background-color: #316dc6;
}

/*--------------------------------------------------------Background Images */

.backing-image {
  background: url(../images/back-image.jpg) no-repeat top center scroll;
  background-size: 100% 100%;
  min-height: 80vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*--------------------------------------------------------Navbar */

.navbar-brand {
  font-family: "Alfa Slab One", cursive;
  font-size: 3.4vw;
}

.navbar-brand div {
  color: #eee9e1;
}

#navbarNavAltMarkup {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.navbar-brand i {
  font-size: 16vw;
  padding-right: 7px;
  color: #ffa30f;
}

.flash {
  background-color: #ffa30f;
  font-weight: 700;
  color: #281594;
}

/*--------------------------------------------------------Admin Controls */

.stats-group {
  color: #000;
  font-size: 0.9em;
}

.table,
.table-secondary {
  font-size: 3.5vw;
  min-height: 80%;
}

.confirm-block,
.confirm-unblock {
  width: 207px;
}

/*--------------------------------------------------------API Search Form */

.api-search-form {
  color: #eee9e1;
  max-width: 1000px;
  margin: 0 auto;
}

.form-check {
  display: inline-block;
}

.form-check-input:checked {
  border: 10px solid red;
}

.form-check-tv {
  padding-left: 17%;
  font-size: 1.2em;
}

.form-check-movie {
  padding-left: 60px;
  font-size: 1.2em;
}

.search-api-button {
  width: 100%;
}

.img-thumbnail {
  width: 100%;
  padding: 0;
  background-color: #0000007a;
}

.thumbnail-title a {
  font-family: "Alfa Slab One", cursive;
  font-size: 1.2em;
  color: #ffa30f;
  padding-top: 7px;
}

.api-results-card {
  width: 70vw;
  margin: 0 auto;
  text-align: center;
  border: 0;
  background-color: #eee9e100;
}

.search-icon > i {
  font-size: 38px;
}

.tmdb-result-list {
  font-size: 0.8em;
}

/*--------------------------------------------------------Reviews */

.review-text,
.already-reviewed {
  color: #ffa30f;
}

.reviews .dropdown .btn,
.dropdown-item {
  font-size: 0.85em;
  min-width: 164.5px;
}

.review-this {
  min-width: 164.5px;
}

.reviews {
  font-size: 0.85em;
}

.reviews-heading {
  font-size: 1.5em;
}

.overview {
  font-size: 0.9em;
}

.review-image {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border: 3px solid #000;
  border-radius: 5%;
  background-color: #0000007a;
}

.index-card {
  height: 100%;
  width: 100%;
  background-color: #0000007a;
  font-size: 0.8em;
  color: #ffa30f;
}

.select-genre {
  border-radius: 0.25rem;
}

.review-links {
  color: #11d6f6;
}

.review-links i:hover {
  color: #dd5608;
}

.review-wrapper {
  max-width: 1000px;
}

/*--------------------------------------------------------Register / Contact */

.register-wrapper,
.contact-wrapper {
  width: 100%;
  margin-top: 50px;
}

/*--------------------------------------------------------Browse Reviews / My Reviews */

.search-box {
  width: 100%;
  margin: 0 auto;
}

/*--------------------------------------------------------Carousel */

#carousel-3X4 {
  display: none;
}

#carousel-4X3 {
  display: none;
}

#carousel-6X2 {
  display: none;
}

#carousel-12X1 {
  width: 100%;
  display: block;
}

.carousel-review {
  display: inline-block;
  margin-left: -4px;
}

.carousel {
  padding-bottom: 50px;
  margin-bottom: 70px;
}

.carousel-inner {
  background-color: #0000007a;
}

.carousel-review img {
  width: 100%;
  height: 100%;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon {
  background-color: #ff0000b2;
  height: 30%;
}

.carousel-control-next,
.carousel-control-prev {
  width: auto;
  height: 93%;
}

.carousel-control-next {
  right: 3px;
}

/*--------------------------------------------------------Modal */

.modal {
  color: #8b8989;
}

/*--------------------------------------------------------Footer */

.footer-container {
  background-color: #000;
  min-height: 140px;
  text-align: center;
  position: relative;
  padding-bottom: 30px;
}

.footer-container li a i {
  color: #eee9e1;
  font-size: 28px;
}

.footer-terms a,
.footer-terms,
.tmdb-disclaimer {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  color: #eee9e1;
  margin: 0 auto;
  text-decoration: none;
}

.tmdb-disclaimer {
  font-size: 0.8em;
}

.tmdb-logo {
  width: 150px;
}

/* Color change on hover */
.footer-container li a i,
.footer-terms a {
  transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}

.footer-terms a:hover,
.footer-container li a i:hover {
  color: #316dc6;
}

.footer-terms .footer-terms-item {
  height: 44px;
}

/*--------------------------------------------------------Media Queries */

@media screen and (min-width: 350px) {
  .table {
    font-size: 0.9em;
  }
  .edit-review-btn {
    width: 100%;
    font-size: .9em;
  }
  .filter-reviews {
    font-size: 1em;
  }
}

@media screen and (min-width: 400px) {
  .navbar-brand {
    font-size: 3.3vw;
  }
  .navbar-brand i {
    font-size: 15vw;
  }
  .review-image {
    width: 80%;
  }
}

@media screen and (min-width: 576px) {
  .navbar-brand {
    font-size: 1.2em;
  }
  .navbar-brand i {
    font-size: 4.4em;
  }
  .api-results-card {
    font-size: 1em;
    width: 100%;
  }
  .previous-button,
  .next-button {
    margin-top: 10px;
    width: 120px;
    font-size: 1em;
  }
  .img-thumbnail {
    margin-right: 20px;
    width: 100%;
  }
  .register-wrapper,
  .contact-wrapper {
    width: 60%;
  }
  .search-box {
    width: 80%;
  }
  .heading {
    font-size: 1.8em;
  }
}

@media screen and (min-width: 768px) {
  #carousel-12X1 {
    display: none;
  }
  #carousel-6X2 {
    width: 100%;
    display: block;
  }
  .search-box {
    width: 65%;
  }
  .review-image {
    width: 100%;
  }
  .review-wrapper {
    padding-top: 30px;
  }
}

@media screen and (min-width: 992px) {
  .search-api-button {
    width: 85%;
  }
  .register-wrapper,
  .contact-wrapper {
    width: 40%;
  }
  #carousel-12X1 {
    display: none;
  }
  #carousel-6X2 {
    display: none;
  }
  #carousel-4X3 {
    width: 100%;
    display: block;
  }
  .search-box {
    width: 50%;
  }
  .overview {
    font-size: 1em;
  }
}

@media screen and (min-width: 1200px) {
  #carousel-12X1 {
    display: none;
  }
  #carousel-6X2 {
    display: none;
  }
  #carousel-4X3 {
    display: none;
  }
  #carousel-3X4 {
    width: 100%;
    display: block;
  }
  .search-box {
    width: 40%;
  }
  .review-wrapper {
    padding-right: 60px;
  }
}
