{% extends "base.html" %}
{% block content %}

<div class="container pt-4 pb-5">
    <div class="row text-center pb-3">
        <div class="col">
            <h1 class="heading">Admin Controls:</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 pb-5">
            <h3>Website Stats:</h3>
            <ul class="list-group stats-group mt-3">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Total Number of Users:
                    <span class="badge bg-primary rounded-pill">{{ number_users }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Total Number of Movies/TV Series Reviewed:
                    <span class="badge bg-primary rounded-pill">{{ number_movies }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Total Number of Reviews:
                    <span class="badge bg-primary rounded-pill">{{ number_reviews }}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <h3>Most Popular Reviews:</h3>
            <table class="table table-hover table-secondary table-bordered mt-3 mb-5">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Username</th>
                        <th scope="col">Title</th>
                        <th scope="col" class="text-center">Likes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index in range(most_likes | length()) %}
                        <tr>
                            <th scope="row">{{ index + 1 }}</th>
                            <td>
                                <a class="text-decoration-none"
                                    href="{{ url_for('my_reviews', user=most_likes[index].created_by, my_reviews_sort='latest', page=0) }}">
                                    {{ most_likes[index].created_by }}
                                </a>
                            </td>
                            <td>
                                <a class="text-decoration-none"
                                    href="{{ url_for('review_detail', tmdb_id=most_likes[index].tmdb_id, media_type=most_likes[index].media_type, review_detail_sort='latest', page=0) }}">
                                    {{ most_likes[index].original_title }}
                                </a>
                            </td>
                            <td class="text-center">{{ most_likes[index].sum_likes }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12 col-lg-6">
            <h3>Review Count:</h3>
            <table class="table reviews-table table-hover table-secondary table-bordered mt-3 mb-5">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Username</th>
                        <th scope="col" class="text-center">Review Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index in range(most_reviews | length()) %}
                        <tr>
                            <th scope="row">{{ index + 1 }}</th>
                            <td>
                                <a class="text-decoration-none"
                                    href="{{ url_for('my_reviews', user=most_reviews[index]._id, my_reviews_sort='latest', page=0) }}">
                                    {{ most_reviews[index]._id }}
                                </a>
                            </td>
                            <td class="text-center">{{ most_reviews[index].count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 col-lg-6 pb-4">
            <h3>Block User(s):</h3>
            <form class="" action="{{ url_for('admin_controls') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <select class="form-select select-user mb-2" name="block-selected" size="10"
                    aria-label="Size 10 Select User" multiple required>
                    <option value="" disabled>User List:</option>
                    <option value="">Select None</option>
                    {% for user in user_list %}
                        {% if user.lower() != "admin" and user not in blocked_users %}
                            <option value="{{ user }}">{{ user }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <div class="text-end">
                    <button type="submit" id="submit-form-3" name="submit-form-3"
                        class="btn btn-danger confirm-block">
                        Confirm Block User
                    </button>
                </div>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <h3>Unblock User(s):</h3>
            <form class="" action="{{ url_for('admin_controls') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <select class="form-select select-user mb-2" name="unblock-selected" size="10"
                    aria-label="Size 10 Select User" multiple required>
                    <option value="" disabled>User List:</option>
                    <option value="">Select None</option>
                    {% for user in blocked_users %}
                        <option value="{{ user }}">{{ user }}</option>
                    {% endfor %}
                </select>
                <div class="text-end">
                    <button type="submit" id="submit-form-4" name="submit-form-4"
                        class="btn btn-danger confirm-unblock">
                        Confirm Unblock User
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 mb-4">
            <h3>Add/Remove Genres:</h3>
            <p>
                Pick from the list below to remove a genre and/or add a new one in the
                input box
            </p>
            <form class="needs-validation adjust-genres" action="{{ url_for('admin_controls') }}" method="POST"
                novalidate>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <select class="form-select select-genre" name="select-genre" size="10"
                    aria-label="Size 10 Select Genre">
                    <option value="" disabled>Genre List:</option>
                    <option value="">Select None</option>
                    {% for genre in genres %}
                        <option value="{{ genre.genre_name }}">
                            {{ genre.genre_name.title() }}
                        </option>
                    {% endfor %}
                </select>
                <div class="input-group mt-2 mb-2">
                    <input type="text" name="new-genre" aria-label="Add genre" placeholder="Add a New Genre Here"
                        class="form-control" minlength="3" pattern="^[a-zA-Z\-]{3,15}$" maxlength="15" />
                    <span class="invalid-feedback">must be 3-15 letters (including '-')</span>
                </div>
                <div class="btn btn-primary delete-genre">Add and/or Delete Genre</div>
                <button type="submit" id="submit-form-1" name="submit-form-1"
                    class="btn btn-danger confirm-genre invisible">
                    Confirm Add/Delete Genre
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}