{% extends "base.html" %}
{% block content %}

<div class="container register-wrapper">
    <h1 class="heading mb-3">Change Password:</h1>
    <form class="needs-validation" action="{{ url_for('change_password') }}" method="POST" novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="mb-3">
            <label for="password1" class="form-label">Old Password</label>
            <input id="password1" name="password1" type="password" class="form-control" minlength="5"
                pattern="^[a-zA-Z0-9]{5,15}$" maxlength="15" required>
            <span class="invalid-feedback">must be 5-15 alphanumeric characters (no spaces)</span>
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">New Password</label>
            <input id="password2" name="password2" type="password" class="form-control" minlength="5"
                pattern="^[a-zA-Z0-9]{5,15}$" maxlength="15" required>
            <span class="invalid-feedback">must be 5-15 alphanumeric characters (no spaces)</span>
        </div>
        <div class="mb-5">
            <label for="confirm-password2" class="form-label">Confirm New Password</label>
            <input id="confirm-password2" name="confirm-password2" type="password" class="form-control" minlength="5"
                pattern="^[a-zA-Z0-9]{5,15}$" maxlength="15" required>
            <span class="invalid-feedback">must be 5-15 alphanumeric characters (no spaces)</span>
        </div>
        <div class="">
            <button type="submit" id="register" class="btn btn-danger">Change Password</button>
        </div>
    </form>
</div>

{% endblock %}