{% extends "base.html" %}

{% block title %}
    <title>Rush Reviews - Change Password</title>
{% endblock %}

{% block content %}
    <div class="container register-wrapper">
        <div class="row py-4">
            <div class="col-2">
                <a href="#" class="btn btn-secondary go-back fs-2 px-2 py-0 mb-3" aria-label="go-back">
                    <i class="fas fa-chevron-circle-left"></i>
                </a>
            </div>
            <h1 class="col-8 heading mb-3 text-center">Change Password:</h1>
        </div>
        <div class="row">
            <div class="col">           
                <form class="needs-validation" action="{{ url_for('change_password') }}" method="POST" id="change-pass-form" novalidate>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input id="username-change" name="username" type="text" class="form-control" value="{{ session['user'] }}" autocomplete="username" hidden>
                    <div class="mb-3">
                        <label for="password1" class="form-label">Old Password</label>
                        <input id="password1" name="password1" type="password" class="form-control" minlength="5"
                            pattern="^[a-zA-Z0-9]{5,15}$" maxlength="15" autocomplete="current-password" required>
                        <span class="invalid-feedback">must be 5-15 alphanumeric characters (no spaces)</span>
                    </div>
                    <div class="mb-3">
                        <label for="password2" class="form-label">New Password</label>
                        <input id="password2" name="password2" type="password" class="form-control" minlength="5"
                            pattern="^[a-zA-Z0-9]{5,15}$" maxlength="15" autocomplete="new-password" required>
                        <span class="invalid-feedback">must be 5-15 alphanumeric characters (no spaces)</span>
                    </div>
                    <div class="mb-5">
                        <label for="confirm-password2" class="form-label">Confirm New Password</label>
                        <input id="confirm-password2" name="confirm-password2" type="password" class="form-control"
                            minlength="5" pattern="^[a-zA-Z0-9]{5,15}$" maxlength="15" autocomplete="new-password" required>
                        <span class="invalid-feedback">must be 5-15 alphanumeric characters (no spaces)</span>
                    </div>
                    <div class="">
                        <button type="submit" class="btn btn-danger change-pass-btn">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}