{% extends "base.html" %}
{% block title %}
    <title>Rush Reviews - Contact Page</title>
{% endblock %}

{% block content %}

<div class="container contact-wrapper">
    <h1 class="heading">Contact Us:</h1>
    <a href="#" class="btn btn-secondary go-back fs-2 px-2 py-0 mb-3" aria-label="go-back"><i class="fas fa-chevron-circle-left"></i></a>
    <div class="row">
        <form class="col contact-form">
            <input type="text" name="name" class="form-control" id="fullname" placeholder="Name" required />
            <input type="email" name="emailaddress" class="form-control mt-1" id="emailaddress" placeholder="email"
                required />
            <div class="px-0 my-1">
                <textarea rows="5" name="feedback" class="form-control" id="feedback"
                    placeholder="We appreciate your feedback" required></textarea>
            </div>
            <div class="">
                <button type="submit" class="btn btn-primary submit-contact">Contact Admin</button>
            </div>
        </form>
    </div>
    <div class="row mt-4">
        <div class="col">
            <p class="contact-error"></p>
        </div>
    </div>
</div>

{% endblock %}