{% extends "base.html" %}
{% block title %}
    <title>Rush Reviews - Contact Page</title>
{% endblock %}

{% block content %}
    <div class="container contact-wrapper">
        <div class="row">
            <div class="col-2">
                <a href="#" class="btn btn-secondary go-back fs-2 py-0 mb-3" aria-label="go-back">
                    <i class="fas fa-chevron-circle-left"></i>
                </a>
            </div>
            <h1 class="col-8 heading text-center">Contact Us:</h1>
        </div>
        <div class="row px-0">
            <form class="col contact-form">
                <input type="text" name="name" class="form-control" id="fullname" placeholder="Name" required />
                <input type="email" name="emailaddress" class="form-control mt-1" id="emailaddress" placeholder="email"
                    required />
                <div class="px-0 my-1">
                    <textarea rows="5" name="feedback" class="form-control" id="feedback"
                        placeholder="We appreciate your feedback" required></textarea>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary submit-contact">Contact Admin</button>
                </div>
            </form>
        </div>
        <div class="row mt-4">
            <div class="col">
                <p class="contact-error"></p>
            </div>
        </div>
    </div>
{% endblock %}