{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-2 px-0 pt-4 mt-1">
            <a href="#" class="btn btn-secondary go-back fs-2 px-2 py-0" aria-label="go-back"><i class="fas fa-chevron-circle-left"></i></a>
        </div>
        <div class="col-9 text-center ps-0">
            <h2 class="pt-4 mt-2 reviews-heading">Edit Review:</h2>
        </div>
    </div>
    <div class="row">
        <!-- Image -->
        <div class="col-12 col-md-6 px-0 pb-5 pt-5 text-center">
            {% if media_detail.poster_path == None %}
                <img src="{{ url_for('static', filename='images/no-image-icon.png') }}" class="review-image" alt="no image available">
            {% else %}
                <img src="{{ tmdb_poster_url }}{{ media_detail.poster_path }}" class="review-image" alt="{{ media_detail.original_title }}">
            {% endif %}
        </div>
        <!-- movie details -->
        <div class="col-12 col-md-6 review-wrapper">
            <h1 class="heading py-3">{{ media_detail.original_title }}</h1>
            <div class="pb-2">
                {% if media_detail.release_date == None %}
                    <div>Released: Not available.</div>
                {% else %}
                    <div>Released: {{ media_detail.release_date }} {{ media_detail.media_type.capitalize() }}</div>
                {% endif %}
            </div>
            <div class="pb-2">Overall Rating: {{ media_detail.overall_rating }} / 5</div>
            {% if media_detail.overview != None %}
                <div class="pb-5 pt-3 overview">{{ media_detail.overview }}</div>
            {% endif %}
            <form class="review-form" method="POST"
                action="{{ url_for('edit_review', tmdb_id=media_detail.tmdb_id, my_reviews_sort=my_reviews_sort) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                {% if not session.user %}
                    <a href="#" data-bs-toggle="modal" data-bs-target="#logInModal">Please Log-In to submit a Review</a>
                {% elif already_reviewed %}
                    <div>You've already reviewed this.</div>
                {% else %}
                    <select class="select-genre mb-3 py-1" name="select-genre" aria-label="Select Genre" required>
                        <option disabled>Choose a Genre:</option>
                        <option value="{{ review_fields.genre }}" selected>{{ review_fields.genre }}</option>
                        {% for genre in genres %}
                            <option required>{{ genre.genre_name.title() }}</option>
                        {% endfor %}
                    </select>
                    <div class="mb-4">
                        <label for="review-text" class="form-label"></label>
                        <textarea class="form-control" id="review-text" name="review-text" rows="5"
                            placeholder="Write your review here" required>{{ review_fields.review }}</textarea>
                    </div>
                    <div class="pb-2 pt-3">What's your rating?</div>
                    <div class="form-check form-check-inline">
                        {% if review_fields.rating == 1 %}
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1"
                                checked required>
                        {% else %}
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1"
                                required>
                        {% endif %}
                        <label class="form-check-label" for="inlineRadio1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        {% if review_fields.rating == 2 %}
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2"
                                checked required>
                        {% else %}
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2"
                                required>
                        {% endif %}
                        <label class="form-check-label" for="inlineRadio2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        {% if review_fields.rating == 3 %}
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3"
                                checked required>
                        {% else %}
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3"
                                required>
                        {% endif %}
                        <label class="form-check-label" for="inlineRadio3">3</label>
                    </div>
                    <div class="form-check form-check-inline">
                        {% if review_fields.rating == 4 %}
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="4"
                                checked required>
                        {% else %}
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="4"
                                required>
                        {% endif %}
                        <label class="form-check-label" for="inlineRadio4">4</label>
                    </div>
                    <div class="form-check form-check-inline">
                        {% if review_fields.rating == 5 %}
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="5"
                                checked required>
                        {% else %}
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="5"
                                required>
                        {% endif %}
                        <label class="form-check-label" for="inlineRadio5">5</label>
                    </div>
                    <div class="row">
                        <div class="col mt-5 mb-4">
                            <button type="submit" class="btn btn-success submit-edit">Submit Edit</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col pb-4">
                            <div class="btn btn-danger call-delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Delete
                                Review
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-5">
                            <a class="btn btn-primary all-reviews-btn"
                                href="{{ url_for('review_detail', tmdb_id=media_detail.tmdb_id, media_type=media_detail.media_type, review_detail_sort='popular', page=0) }}">See
                                    All Reviews
                            </a>
                        </div>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>

 <!-- Modal confirm delete -->
 <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span>Are you sure you want to delete?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <span><a href="{{ url_for('delete_review', tmdb_id=review_fields.tmdb_id, user=session['user']) }}" class="btn btn-danger confirm-delete">Confirm</a></span>
            </div>
        </div>
    </div>
</div>

{% endblock %}