{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        {% for movie in movie_details %}
        <div class="card index-card col-6 col-sm-4 col-md-3 col-lg-2">
            <div class="row">
                <img src="{{ tmdb_poster_url }}{{ movie['poster_path'] }}" class="card-img-top" alt="...">
            </div>
            <div class="card-body row align-items-end">
                <div class="col-12 text-center">
                    <div class="card-title">{{ movie.original_title }}</div>
                </div>
                <div class="col-12 text-center">
                    <a href="{{ url_for('review_detail', tmdb_id=movie.tmdb_id, sort_by='popular') }}"
                        class="btn btn-primary get-reviews-btn">Get Reviews</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{{reviews}}
{% endblock %}