{% extends "base.html" %}
{% block content %}
<div class="container-fluid my-reviews-container">
    <div class="row">
        <div class="col">
            <h1>{{ user.title() }}'s Reviews</h1>
        </div>
    </div>
    <div class="row search-box">
        <form action="{{ url_for('my_reviews', user=user, sort_by=sort_by, page=0) }}" method="post">
            <div class="mb-3 row">
                <label for="search-box" class="form-label">Search</label>
                <input type="text" value="{{ query }}" name="search-box" class="form-control" id="search-box"
                    aria-describedby="search-query">
                <div id="search-box-text" class="form-text">Search by Name/Title</div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <div class="dropdown">
                        {% if sort_by == "alphabetically" %}
                        <select name="sort_by" class="form-select" aria-label="Default select example">
                            <option value="alphabetically" selected>Sort-by: Alphabetically</option>
                            <option value="latest">Sort-by: Latest</option>
                            <option value="oldest">Sort-by: Oldest</option>
                        </select>
                        {% elif sort_by == "oldest" %}
                        <select name="sort_by" class="form-select" aria-label="Default select example">
                            <option value="oldest" selected>Sort-by: Oldest</option>
                            <option value="latest">Sort-by: Latest</option>
                            <option value="alphabetically">Sort-by: Alphabetically</option>
                        </select>
                        {% else %}
                        <select name="sort_by" class="form-select" aria-label="Default select example">
                            <option value="latest" selected>Sort-by: Latest</option>
                            <option value="alphabetically">Sort-by: Alphabetically</option>
                            <option value="oldest">Sort-by: Oldest</option>
                        </select>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary">Update Results</button>
            </div>
        </form>
    </div>
    {% if movie_details | length() > 0 %}
    <div class="row justify-content-center">
        {% for movie in movie_details %}
        <div class="card index-card col-6 col-sm-4 col-md-3 col-lg-2">
            <div class="row">
                <img src="{{ tmdb_poster_url }}{{ movie['poster_path'] }}" class="card-img-top" alt="...">
            </div>
            <div class="card-body row align-items-end">
                <div class="col-12 text-center">
                    <div class="card-title">{{ movie.original_title }}</div>
                </div>
                <div class="col-12 text-center">
                    {% if user == session['user'] %}
                    <a href="{{ url_for('edit_review', tmdb_id=movie.tmdb_id) }}"
                        class="btn btn-primary edit-review-btn">Edit/Delete
                        Review
                    </a>
                    {% else %}
                    <a href="{{ url_for('review_detail', tmdb_id=movie.tmdb_id, sort_by='popular') }}"
                        class="btn btn-primary get-reviews-btn">Get
                        Reviews
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row mx-auto pt-3">
        <div class="col">
            {% if review_count > 6 %}
            <div class="page-number">Page {{ page + 1 }} / {{ total_pages }}</div>
            {% endif %}
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col">
            {% if page > 0 %}
            <a href="{{ url_for('my_reviews', sort_by=sort_by, page=page-1) }}"
                class="btn btn-secondary previous-button">Previous</a>
            {% endif %}
            {% if (review_count > 6) and ((page + 1) < (review_count / 6)) %}
            <a href="{{ url_for('my_reviews', sort_by=sort_by, page=page+1) }}"
                class="btn btn-secondary next-button">Next</a>
            {% endif %}
        </div>
    </div>
    {% else %}
    <h3>No Results!</h3>
    {% endif %}
</div>

{% endblock %}