{% extends "base.html" %}
{% block content %}

<h1 class="">Review</h1>
<a href="{{ url_for('search_pagination', page_number=page_number) }}" class="btn btn-secondary">Cancel & Go Back</a>
<div>
    <h2 class="heading">{{ media_detail.original_title }}</h2>

        {% if media_detail.first_air_date == None %}
            <div>Released: Not available.</div>
        {% else %}
            <div>Released: {{ media_detail.release_date }}</div>
        {% endif %}

        {% if media_detail.poster_path == None %}
            <img src="{{ url_for('static', filename='images/no-image-icon.png') }}" class="review-image" alt="">
        {% else %}
            <img src="{{ tmdb_poster_url }}{{ media_detail.poster_path }}" class="review-image" alt="">
        {% endif %}

    {% if media_detail.overview != None %}
    <div>{{ media_detail.overview }}</div>
    {% endif %}

    <form class="col s12" method="POST" action="{{ url_for('new_review', tmdb_id=session.tmdb_id, page_number=page_number) }}">
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="col-12">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

    </form>

</div>


{% endblock %}