{% extends "base.html" %}

{% block title %}
    <title>Rush Reviews - Browse Reviews</title>
{% endblock %}

{% block content %}
    <div class="container-fluid text-center">
        <div class="row py-4">
            <div class="col">
                <h1 class="heading">Browse All Reviews:</h1>
            </div>
        </div>
        <div class="row search-box">
            <div class="col-12">
                <form action="{{ url_for('browse_reviews', query=query, browse_reviews_sort=browse_reviews_sort, page=0) }}" method="post" id="browse-reviews-form" class="mx-auto">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" id="csrf_token" />
                    <div class="row pb-4">
                        <div class="col">
                            <label for="search-box" class="form-label pb-4">Search</label>
                            <input type="text" value="{{ query }}" name="search-box" class="form-control" id="search-box"
                                aria-describedby="search-box-text">
                            <div id="search-box-text" class="form-text">Search by Name, Type(movie or tv) or Year of
                                Release(YYYY). Complete words/year only.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="dropdown">
                                {% if browse_reviews_sort == "rating" %}
                                    <select name="browse_reviews_sort" class="form-select" aria-label="Default select example">
                                        <option value="rating" selected>Sort-by: Rating</option>
                                        <option value="latest">Sort-by: Latest</option>
                                        <option value="popularity">Sort-by: Popularity</option>
                                    </select>
                                {% elif browse_reviews_sort == "popularity" %}
                                    <select name="browse_reviews_sort" class="form-select" aria-label="Default select example">
                                        <option value="popularity" selected>Sort-by: Popularity</option>
                                        <option value="latest">Sort-by: Latest</option>
                                        <option value="rating">Sort-by: Rating</option>
                                    </select>
                                {% else %}
                                    <select name="browse_reviews_sort" class="form-select" aria-label="Default select example">
                                        <option value="latest" selected>Sort-by: Latest</option>
                                        <option value="popularity">Sort-by: Popularity</option>
                                        <option value="rating">Sort-by: Rating</option>
                                    </select>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row py-5">
                        <div class="col">
                            <button type="submit" class="btn btn-primary mx-auto filter-reviews">Update Results</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% if media_detail | length() > 0 %}
            <div class="row">
                {% for movie in media_detail %}
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 review-card">
                        <a href="{{ url_for('review_detail', tmdb_id=movie.tmdb_id, media_type=movie.media_type, review_detail_sort='popular', page=0) }}"
                            class="text-decoration-none">
                            <div class="card index-card">
                                <div class="row review-images-row">                            
                                    {% if movie.poster_path == None %}
                                        <img src="{{ url_for('static', filename='images/no-image-icon.png') }}" class="card-img-top px-0" alt="no image available">
                                    {% else %}
                                        <img src="{{ tmdb_poster_url }}{{ movie.poster_path }}" class="card-img-top px-0" alt="{{ movie.original_title }}">
                                    {% endif %}                            
                                </div>
                                <div class="card-body row align-items-start">
                                    <div class="col-12 text-center">
                                        <div class="card-title review-card-title">{{ movie.original_title }}</div>
                                    </div>                            
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="row mx-auto pt-5 pb-3">
                <div class="col">
                    {% if review_count > 12 %}
                        <div class="page-number">Page {{ page + 1 }} / {{ total_pages }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="row mx-auto pb-5">
                <div class="col">
                    {% if page > 0 %}
                        <a href="{{ url_for('browse_reviews', query=query, browse_reviews_sort=browse_reviews_sort, page=page-1) }}"
                            class="btn btn-secondary previous-button">Previous
                        </a>
                    {% endif %}
                    {% if (review_count > 12) and ((page + 1) < (review_count / 12)) %}
                        <a href="{{ url_for('browse_reviews', query=query, browse_reviews_sort=browse_reviews_sort, page=page+1) }}"
                            class="btn btn-secondary next-button">Next                
                        </a>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col">
                    <h3 class="p-5">No Results!</h3>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}