{% extends "base.html" %}
{% block content %}
<div class="row">
    <a href="#" class="btn btn-secondary go-back">Cancel & Go Back</a>
    <div>
        <h1 class="">Reviews for:</h1>
        <div>
            <h2 class="heading">{{ movie_detail.original_title }}</h2>

            {% if movie_detail.release_date == "" %}
            <div>Released: Not available.</div>
            {% else %}
            <div>Released: {{ movie_detail.release_date }}</div>
            {% endif %}
            <div>Overall Rating: {{ overall_rating }} / 5</div>

            {% if movie_detail.poster_path == None %}
            <img src="{{ url_for('static', filename='images/no-image-icon.png') }}" class="review-image" alt="">
            {% else %}
            <img src="{{ tmdb_poster_url }}{{ movie_detail.poster_path }}" class="review-image" alt="">
            {% endif %}
        </div>
        {% if not session.user %}
        <a href="#" data-bs-toggle="modal" data-bs-target="#logInModal">Please Log-In to submit a Review</a>
        {% elif already_reviewed %}
        <div>You've already reviewed this.</div>
        {% else %}
        <a href="{{ url_for('new_review', tmdb_id=movie_detail.tmdb_id, media_type=movie_detail.media_type, page_number=1) }}"
            class="btn btn-primary">Review This</a>
        {% endif %}
        <div>Most recent reviews first:</div>
        {% for review in reviews %}
        <div>Reviewed by: {{ review.created_by }} {{ review.review_date }}</div>
        <div>{{ review.review }}</div>
        <div>Rating: {{ review.rating }} / 5</div>
        {% endfor %}
    </div>
    {% endblock %}