{% extends "base.html" %}

{% block title %}
    <title>Rush Reviews - Search Database</title>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row text-center py-4">
                <h1 class="heading col-12">Search for a movie or tv series to review:</h1>
            </div>
            <!-- Search within movie list -->
            <div class="row pb-2">
                <div class="col-12 col-sm-10 col-lg-8 mx-auto">
                    <form action="{{ url_for('search_movies') }}" method="post" class="api-search-form" id="search-api">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" id="csrf_token" />
                        <div class="row mb-3">
                            <div class="">
                                {% if session["media_type"] == "tv" %}
                                    <div class="form-check form-check-tv">
                                        <input name="media_type" value="tv" class="form-check-input" type="radio" id="media-type-tv" checked>
                                        <label class="form-check-label" for="media-type-tv">TV</label>
                                    </div>
                                    <div class="form-check form-check-movie">
                                        <input name="media_type" value="movie" class="form-check-input" type="radio" id="media-type-movie">
                                        <label class="form-check-label" for="media-type-movie">Movie</label>
                                    </div>
                                {% elif session["media_type"] == "movie" %}
                                    <div class="form-check form-check-tv">
                                        <input name="media_type" value="tv" class="form-check-input" type="radio" id="media-type-tv">
                                        <label class="form-check-label" for="media-type-tv">TV</label>
                                    </div>
                                    <div class="form-check form-check-movie">
                                        <input name="media_type" value="movie" class="form-check-input" type="radio" id="media-type-movie" checked>
                                        <label class="form-check-label" for="media-type-movie">Movie</label>
                                    </div>
                                {% else %}
                                    <div class="form-check form-check-tv">
                                        <input name="media_type" value="tv" class="form-check-input" type="radio" id="media-type-tv" required>
                                        <label class="form-check-label" for="media-type-tv">TV</label>
                                    </div>
                                    <div class="form-check form-check-movie">
                                        <input name="media_type" value="movie" class="form-check-input" type="radio" id="media-type-movie" required>
                                        <label class="form-check-label" for="media-type-movie">Movie</label>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-12 col-md-8">
                                <div class="row">
                                    <div class="col-sm-1 d-none d-sm-block search-icon">
                                        <i class="fas fa-search"></i>
                                    </div>
                                    <div class="col-12 col-sm-10 offset-sm-1 px-0 pb-4">
                                        <input type="text" name="query" id="query" minlength="3" maxlength="30"
                                            class="form-control" value="{{ session['search_query'] }}" required>
                                        <label for="query" class="form-label">Search Movies or TV Series</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 mx-auto px-1">
                                <button type="submit" class="btn btn-primary search-api-button" id="search-api-button">
                                    <i class="fas fa-search"></i> Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row api-results-card mt-3">
        <div class="col-12">
            {% if request.method == "POST" or search_results %}
                {% if search_results %}
                    {% if search_results.results %}
                        <div class="row">
                            <div class="col">
                                <div class="page-number pb-5">Page {{ search_results.page }} / {{ search_results.total_pages }}
                                </div>
                            </div>
                        </div>
                        <div class="row pb-4">
                            <div class="col">
                                <div class="row">
                                    {% for result in search_results.results %}
                                        <div class="col-12 col-sm-6">
                                            {% if result.original_title and result.id %}
                                                <a href="{{ url_for('review_detail', tmdb_id=result.id, media_type=session.media_type, review_detail_sort='popular', page=0) }}"
                                                        class="row text-decoration-none api-search-result">
                                                    <div class="col-12 col-md-6 mx-auto pb-2">
                                                        {% if result.poster_path %}
                                                            {% if result.poster_path == "" or result.poster_path == None %}
                                                                <img src="{{ url_for('static', filename='images/no-image-icon.png') }}"
                                                                    class="img-thumbnail" alt="no image available">
                                                            {% else %}
                                                                <img src="https://image.tmdb.org/t/p/w500/{{ result.poster_path }}"
                                                                    class="img-thumbnail" alt="{{ result.name }}">
                                                            {% endif %}
                                                        {% else %}
                                                            <img src="{{ url_for('static', filename='images/no-image-icon.png') }}"
                                                                class="img-thumbnail" alt="no image available">
                                                        {% endif %}                                                        
                                                    </div>
                                                    <div class="col-12 col-md-6 thumbnail-title pb-5 mx-auto text-center">
                                                        <div class="api-search-title">
                                                            {{ result.original_title }}
                                                        </div>
                                                    </div>
                                                </a>
                                            {% elif result.name and result.id %}
                                                <a href="{{ url_for('review_detail', tmdb_id=result.id, media_type=session.media_type, review_detail_sort='popular', page=0) }}"
                                                        class="row text-decoration-none api-search-result">
                                                    <div class="col-12 col-md-6 mx-auto pb-2">
                                                        {% if result.poster_path %}
                                                            {% if result.poster_path == "" or result.poster_path == None %}
                                                                <img src="{{ url_for('static', filename='images/no-image-icon.png') }}"
                                                                    class="img-thumbnail" alt="no image available">
                                                            {% else %}
                                                                <img src="https://image.tmdb.org/t/p/w500/{{ result.poster_path }}"
                                                                    class="img-thumbnail" alt="{{ result.name }}">
                                                            {% endif %}
                                                        {% else %}
                                                            <img src="{{ url_for('static', filename='images/no-image-icon.png') }}"
                                                                class="img-thumbnail" alt="no image available">
                                                        {% endif %}                                                        
                                                    </div>
                                                    <div class="col-12 col-md-6 thumbnail-title pb-5 mx-auto text-center">
                                                        <div class="api-search-title">
                                                            {{ result.name }}
                                                        </div>
                                                    </div>
                                                </a>
                                            {% else %}
                                                <h3>This result could not be accessed</h3>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row mx-auto pb-4">
                            <div class="col">
                                {% if search_results.total_pages > 1 %}
                                    <div class="page-number">Page {{ search_results.page }} / {{ search_results.total_pages }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mx-auto pb-5">
                            <div class="col">
                                {% if search_results.page > 1 %}
                                    <a href="{{ url_for('search_pagination', page=search_results.page-1) }}"
                                        class="btn btn-secondary previous-button">Previous
                                    </a>
                                {% endif %}
                                {% if search_results.total_pages > 1 and search_results.page < search_results.total_pages %}
                                    <a href="{{ url_for('search_pagination', page=search_results.page+1) }}"
                                        class="btn btn-secondary next-button">Next
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col">
                                <h3 class="p-5">No Results!</h3>
                            </div>                                
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}