{% extends "base.html" %}
{% block content %}

<h3 class="">Search</h3>
<!-- Search within movie list -->
<div class="row">
    <form action="{{ url_for('search_movies', page_number=1) }}" method="post" class="col s12">
        <div>
            {% if session["media_type"] == "tv" %}
            <div class="form-check">
                <input name="media_type" class="form-check-input" type="radio" id="media-type-tv" checked>
                <label class="form-check-label" for="media-type-tv">
                    TV
                </label>
            </div>
            <div class="form-check">
                <input name="media_type" class="form-check-input" type="radio" id="media-type-movie">
                <label class="form-check-label" for="media-type-movie">
                    Movie
                </label>
            </div>
            {% elif session["media_type"] == "movie" %}
            <div class="form-check">
                <input name="media_type" class="form-check-input" type="radio" id="media-type-tv">
                <label class="form-check-label" for="media-type-tv">
                    TV
                </label>
            </div>
            <div class="form-check">
                <input name="media_type" class="form-check-input" type="radio" id="media-type-movie" checked>
                <label class="form-check-label" for="media-type-movie">
                    Movie
                </label>
            </div>
            {% else %}
            <div class="form-check">
                <input name="media_type" class="form-check-input" type="radio" id="media-type-tv">
                <label class="form-check-label" for="media-type-tv">
                    TV
                </label>
            </div>
            <div class="form-check">
                <input name="media_type" class="form-check-input" type="radio" id="media-type-movie">
                <label class="form-check-label" for="media-type-movie">
                    Movie
                </label>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="input-field col">
                <i class="fas fa-search"></i>
                <input type="text" name="query" id="query" minlength="3" class="validate"
                    value="{{ session['search_query'] }}" required>
                <label for="query">Search Movies or TV Series</label>
            </div>
            <div class="col">
                <a href="#" class="btn">Reset</a>
                <button type="submit" class="btn-submit">
                    <i class="fas fa-search"></i> Search
                </button>
            </div>
        </div>
    </form>
    <div class="collection">

        {% if request.method == "POST" or search_results %}
        {% if search_results %}
        {% if search_results.results %}
        <div>Page {{ search_results.page }} / {{ search_results.total_pages }}</div>
        {% for result in search_results.results %}
        {% if result.original_title and result.id %}
        <a href="{{ url_for('review', tmdb_id=result.id, page_number=search_results.page) }}"
            class="collection-item">{{ result.original_title }}</a>
        {% elif result.name and result.id %}
        <a href="{{ url_for('review', tmdb_id=result.id, page_number=search_results.page) }}"
            class="collection-item">{{ result.name }}</a>
        {% endif %}
        {% endfor %}
        {% if search_results.page > 1 %}
        <a href="{{ url_for('search_pagination', page_number=search_results.page-1) }}"
            class="btn-small green accent-4">Previous</a>
        {% endif %}
        {% if search_results.total_pages > 1 and search_results.page < search_results.total_pages %}
        <a href="{{ url_for('search_pagination', page_number=search_results.page+1) }}"
            class="btn-small light-blue lighten-1">Next</a>
        {% endif %}
        {% else %}
        <h3>No Results!</h3>
        {% endif %}
        {% endif %}
        {% endif %}


    </div>
</div>

{% endblock %}